* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
}

.loc {
  display: flex;
  justify-content: center;
  background: #bdc3c7;
  padding: 15px 0;
}
.loc__icon {
  margin-right: 20px;
}

.what {
  background: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what__title {
  font-size: 2.5rem;
  text-align: center;
  padding: 30px 50px 10px 50px;
}
.what__text {
  text-align: center;
  padding: 0px 50px 30px 50px;
}
.what__btn {
  display: flex;
  justify-content: center;
  padding: 0px 0px 50px 0px;
}
.what__button {
  padding: 13px 15px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(345deg, #9356dc, #de64f1);
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 9px 9px 32px -10px rgba(0, 0, 0, 0.3);
}
.what__button:hover {
  box-shadow: 9px 9px 32px -10px rgba(0, 0, 0, 0.4);
  filter: brightness(110%);
}

.how {
  margin: 50px 20px 50px 20px;
}
.how__element {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: #ecf0f1;
  box-shadow: 9px 9px 32px -10px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  padding: 25px 20px 25px 0;
  margin-left: 14px;
}
.how__element:hover {
  background: #f2eafb;
}
.how__element:hover i {
  color: #9356DC;
}
.how__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  padding: 12px;
  color: white;
  line-height: 20px;
  background: #9356DC;
  transform: translate(-50%);
}
.how__icone {
  font-size: 20px;
  color: #bdc3c7;
  margin-left: 10px;
  margin-right: 15px;
}
.how__text {
  font-weight: 500;
}

.where {
  background: #ecf0f1;
  padding-bottom: 60px;
}
.where__title {
  font-size: 2.5rem;
  padding: 30px 50px 30px 20px;
}
.where__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.where__card {
  width: 340px;
  border-radius: 20px;
  position: relative;
  box-shadow: 9px 9px 32px -10px rgba(0, 0, 0, 0.18);
}
.where__image img {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.where__new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  background: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  text-align: center;
  border-radius: 2px;
  padding: 5px 5px;
  font-size: 1.4rem;
}
.where__text {
  display: flex;
  justify-content: space-between;
  background: white;
  line-height: 25px;
  padding: 15px;
  border-radius: 0 0 16px 16px;
}
.where__loc {
  font-size: 1.8rem;
}
.where__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px 10px 20px 0;
}

footer {
  background: #2f3640;
  padding: 20px 0px 35px 20px;
  line-height: 25px;
}
footer .footerlogo {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  padding-bottom: 20px;
}
footer .prop {
  color: white;
}
footer .prop .proptext {
  padding-left: 6px;
}
footer .partners {
  color: white;
}
footer .legal {
  color: white;
}
footer .contact {
  color: white;
}
footer .contact:hover {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
