@import "./1_utils/variables";
@import "./1_utils/keyframes";
@import "./1_utils/mediaqueries";
@import "./3_base/base";
@import "./4_components/loader";
@import "./5_layout/footer";

////////////////////////////// LOADER  //////////////////////////////////////// 

@include spinloader;


////////////////////////////// HEADER  //////////////////////////////////////// 

.header {

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    &__logo img {
        width: 200px;
    }
}


////////////////////////////// LOCATION  //////////////////////////////////////// 


.location {
    display: flex;
    justify-content: center;
    background: $darkgrey ;
    box-shadow: 0px 10px 9px -12px $xtradarkgrey inset;
    padding: 15px 0;

    &__icon {
        margin-right: 20px;
    }

}

////////////////////////////////  WHAT  //////////////////////////////////////// 

.what {
    background: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;



    &__title {
        font-size: 2.5rem;
        text-align: center;
        padding: 30px 50px 10px 50px;
    }

    &__text {
        text-align: center;
        padding: 0px 50px 30px 50px;

    }

    &__btn {
        display: flex;
        justify-content: center;
        padding: 0px 0px 50px 0px;
    }

    &__button {
        padding: 13px 15px;
        border-radius: 30px;
        border: 0;
        background: $linear;
        color: white;
        font-weight: 400;
        letter-spacing: 0.5px;
        box-shadow: $mediumshadow;

        &:hover {
            box-shadow: $darkshadow;
            filter: brightness(110%);
            cursor: pointer;
        }
    }
}

////////////////////////////////  HOW  //////////////////////////////////////// 

.how {
    margin: 50px 20px 50px 20px;


    @include xl {
        width: 75%;
        margin: 50px auto 50px auto;
    }


    &__title {
        @include xl {
            padding-left: 80px;
        }
    }

    &__container {

        @include md {
            display: flex;
            justify-content: space-around;
            column-gap: 15px;
        }

        @include xl {
            display: flex;
            justify-content: space-evenly;
        }
    }


    &__element {
        margin-top: 20px;
        display: flex;
        align-items: center;
        background: $lightgrey;
        box-shadow: $lightshadow;
        border-radius: 20px;
        padding: 25px 20px 25px 0;
        margin-left: 14px;

        &:hover {
            background: lighten($primary, 35);
            box-shadow: $mediumshadow;
            cursor: pointer;
        }

        &:hover i {
            color: $primary ;
        }

        @include md {
            text-align: center;
        }

        @include xl {
            padding: 25px 35px 25px 0;
        }

    }


    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        padding: 12px;
        color: white;
        line-height: 20px;
        background: $primary;
        transform: translate(-50%);
    }

    &__icone {
        font-size: 20px;
        color: $darkgrey;
        margin-left: 10px;
        margin-right: 15px;

    }

    &__text {
        font-weight: 500;
    }


}

////////////////////////////////  WHERE  //////////////////////////////////////// 

.where {
    background: $lightgrey;
    padding-bottom: 60px;



    &__title {
        font-size: 2.5rem;
        padding: 30px 50px 30px 20px;

        @include xl {
            width: 75%;
            padding-left: 80px;
            margin: auto;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;

        @include md {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 20px;
            column-gap: 20px;
        }


        @include xl {
            width: 75%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            row-gap: 40px;
        }
    }

    &__card {
        width: 340px;
        border-radius: 20px;
        position: relative;
        box-shadow: $lightshadow;

        &:hover {
            box-shadow: $mediumshadow;
            filter: brightness(105%);
        }

        @include xl {
            width: 500px;
        }
    }

    &__image img {
        display: block;
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }

    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80px;
        background: $tertiary;
        color: darken($tertiary, 35);
        font-weight: 500;
        text-align: center;
        border-radius: 2px;
        padding: 5px 5px;
        font-size: 1.4rem;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        background: white;
        color: black;
        line-height: 25px;
        padding: 15px;
        border-radius: 0 0 16px 16px;
    }

    &__loc {
        font-size: 1.8rem;

    }


    &__heart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 10px 20px 0;
        font-size: 25px;


        &--full {
            display: none;
        }

        &:hover &--full {
            display: inline;
            color: transparent;
            background: $linear;
            -webkit-background-clip: text;
            background-clip: text;
            animation: appear 2s;
        }

        &--empty {
            display: inline;

        }

        &:hover &--empty {
            display: none;
        }
    }

}

//////////////////////////////  FOOTER  //////////////////////////////////////// 

@include footer_block;