@import "./1_utils/variables";
@import "./1_utils/keyframes";
@import "./1_utils/mediaqueries";
@import "./3_base/base";

////////////////////////////// HEADER  //////////////////////////////////////// 

.header {

    padding: 20px 20px 15px 15px;
    display: flex;
    justify-content: center;



    &__direction {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 20px;

        & a {
            color: black;

            &:hover {
                color: $primary;
            }
        }

    }

    &__logo img {
        width: 200px;
    }

    &__logo {
        display: block;
        display: flex;
        justify-content: center;
    }
}


//////////////////////////////  IMAGE  //////////////////////////////////////// 

.pic img {

    height: 280px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

////////////////////////////// MENU  //////////////////////////////////////// 


.menu {
    background: $lightgrey;
    border-radius: 30px 30px 0 0;
    width: 100%;
    margin-top: -60px;
    position: relative;
    z-index: 2;

    &__title {
        font-family: $logo;
        font-size: 1.4rem;
        display: flex;
        padding: 20px 0 20px 20px;

        @include md {

            display: flex;
            justify-content: center;
            margin: auto;
            padding: 20px 0 20px 0px;
            width: 480px;

        }


        @include xl {
            width: 1440px;
            margin: auto;
            padding: 20px 0 20px 0px;
        }
    }

    &__heart {
        font-size: 2.5rem;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;

        &:hover {
            cursor: pointer;
        }

        &--full {
            display: none;
        }

        &:hover &--full {

            display: inline;
            color: transparent;
            background: $linear;
            -webkit-background-clip: text;
            background-clip: text;
        }

        &--empty {
            display: inline;
        }

        &:hover &--empty {
            display: none;
        }
    }


    &__container {
        margin: 0 20px 0 20px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 40px 0px;
        grid-template-areas:
            "starter"
            "main"
            "dessert";

        @include xl {
            width: 1440px;
            margin: auto;
            grid-auto-rows: auto;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 40px;
        }
    }


    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include md {
            margin: auto;
        }
    }


    &__course {
        font-size: 1.8rem;
        font-weight: 400;

        &::after {
            content: "";
            display: block;
            width: 40px;
            padding-top: 5px;
            border-bottom: 3px solid $tertiary;
        }
    }


    &__card {
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: $lightshadow;
        border-radius: 10px;
        width: 350px;

        @include md {
            width: 390px;
        }

        @include xl {
            width: 400px;
        }

        &:hover {
            cursor: pointer;
        }


    }


    &__slide {
        transform-origin: right;
        display: none;
        transform: scale(0);
        width: 70px;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;

    }

    &__card:hover &__slide {
        display: inline;
        transform: scale(1);
        // animation: sliderfx 1s;


    }

    &__checkbox {
        display: grid;
        place-items: center;
        padding-top: 2.2rem;
    }

    &__check {
        color: white;
        display: block;
        font-size: 2.2rem;
        animation: spincheck .8s;
        animation-fill-mode: forwards;

    }


    &__one {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 0s;
    }

    &__two {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 0.5s;
    }

    &__three {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 1s;
    }

    &__four {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 1.5s;
    }

    &__meal {
        padding: 10px;
        line-height: 2.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__name {
        font-weight: 500;
        font-size: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;


    }

    &__side {
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;



    }

    &__box {
        display: flex;
    }

    &__price {
        font-weight: 500;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 13px;
    }


}

////////////////////////////// ORDER  //////////////////////////////////////// 

.order {
    background: $lightgrey;
    padding: 50px 0px;



    &__btn {
        display: flex;
        justify-content: center;
        // padding: 0px 0px 50px 0px;
    }

    &__button {
        padding: 13px 40px;
        border-radius: 30px;
        border: 0;
        background: $linear;
        color: white;
        font-weight: 400;
        letter-spacing: 1px;
        box-shadow: $mediumshadow;

        &:hover {
            box-shadow: $darkshadow;
            filter: brightness(110%);
            cursor: pointer;
        }
    }
}

//////////////////////////////  FOOTER  //////////////////////////////////////// 

.footer {
    background: $xtradarkgrey;
    color: white;
    padding: 20px 0px 60px 20px;
    line-height: 25px;
    font-weight: 300;



    @include md {
        padding: 30px;
    }

    @include xl {
        padding: 30px;
    }



    &__logo {
        @include md {
            display: flex;
            justify-content: center;
        }


        @include xl {
            display: flex;
            justify-content: center;
        }


    }

    &__container {

        a:hover {

            border-bottom: 2px lighten($primary, 15) solid;
            padding-bottom: 2px;
        }

        @include md {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
        }


        @include xl {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
        }
    }


    &__logo {
        font-family: $logo;
        font-size: 1.8rem;
        font-weight: 300;
        padding-bottom: 20px;

        @include md {
            font-size: 2.2rem;
        }

        @include xl {
            font-size: 2.2rem;
        }

    }

    &__proptext {
        padding-left: 6px;
    }
}