@import "./1_utils/variables";
@import "./1_utils/keyframes";
@import "./1_utils/mediaqueries";
@import "./3_base/base";

////////////////////////////// LOADER  //////////////////////////////////////// 

// .loader {
//     background-color: white;
//     opacity: 80%;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100vh;
//     z-index: 9;
//     display: grid;
//     place-items: center;
//     animation: load 0.1s;
//     animation-delay: 3s;
//     animation-fill-mode: forwards;


//     &__item {
//         border: 14px solid #bdc3c7;
//         width: 90px;
//         height: 90px;
//         border-top-color: $primary;
//         border-bottom-color: $secondary;
//         border-radius: 50%;
//         animation: spinner 3s linear;
//         animation-fill-mode: forwards;
//         animation-iteration-count: 2;

//     }
// }



////////////////////////////// HEADER  //////////////////////////////////////// 

.header {

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    &__logo img {
        width: 200px;
    }
}


////////////////////////////// LOCATION  //////////////////////////////////////// 


.loc {
    display: flex;
    justify-content: center;
    background: $darkgrey ;
    padding: 15px 0;

    &__icon {
        margin-right: 20px;
    }

}

////////////////////////////////  WHAT  //////////////////////////////////////// 

.what {
    background: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;



    &__title {
        font-size: 2.5rem;
        text-align: center;
        padding: 30px 50px 10px 50px;
    }

    &__text {
        text-align: center;
        padding: 0px 50px 30px 50px;

    }

    &__btn {
        display: flex;
        justify-content: center;
        padding: 0px 0px 50px 0px;
    }

    &__button {
        padding: 13px 15px;
        border-radius: 30px;
        border: 0;
        background: $linear;
        color: white;
        font-weight: 400;
        letter-spacing: 0.5px;
        box-shadow: $mediumshadow;

        &:hover {
            box-shadow: $darkshadow;
            filter: brightness(110%);
            cursor: pointer;
        }
    }
}

////////////////////////////////  HOW  //////////////////////////////////////// 

.how {
    margin: 50px 20px 50px 20px;


    @include xl {
        width: 1440px;
        margin: 50px auto 50px auto;
    }


    &__title {
        @include xl {
            padding-left: 80px;
        }
    }

    &__container {

        @include md {
            display: flex;
            justify-content: space-around;
            column-gap: 15px;
        }

        @include xl {
            display: flex;
            justify-content: space-evenly;
        }
    }


    &__element {
        margin-top: 20px;
        display: flex;
        align-items: center;
        background: $lightgrey;
        box-shadow: $lightshadow;
        border-radius: 20px;
        padding: 25px 20px 25px 0;
        margin-left: 14px;

        &:hover {
            background: lighten($primary, 35);
            cursor: pointer;
        }

        &:hover i {
            color: $primary ;
        }

        @include md {
            text-align: center;
        }

        @include xl {
            padding: 25px 35px 25px 0;
        }

    }


    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        padding: 12px;
        color: white;
        line-height: 20px;
        background: $primary;
        transform: translate(-50%);
    }

    &__icone {
        font-size: 20px;
        color: $darkgrey;
        margin-left: 10px;

        margin-right: 15px;


    }

    &__text {
        font-weight: 500;
    }


}

////////////////////////////////  WHERE  //////////////////////////////////////// 

.where {
    background: $lightgrey;
    padding-bottom: 60px;



    &__title {
        font-size: 2.5rem;
        padding: 30px 50px 30px 20px;

        @include xl {
            width: 1440px;
            padding-left: 80px;
            margin: auto;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;

        @include md {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 20px;
            column-gap: 20px;
        }


        @include xl {
            width: 1440px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            row-gap: 40px;
        }
    }

    &__card {
        width: 340px;
        border-radius: 20px;
        position: relative;
        box-shadow: $lightshadow;

        @include xl {
            width: 500px;
        }
    }

    &__image img {
        display: block;
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }

    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80px;
        background: $tertiary;
        color: darken($tertiary, 35);
        font-weight: 500;
        text-align: center;
        border-radius: 2px;
        padding: 5px 5px;
        font-size: 1.4rem;

    }

    &__text {
        display: flex;
        justify-content: space-between;
        background: white;
        color: black;
        line-height: 25px;
        padding: 15px;
        border-radius: 0 0 16px 16px;

    }

    &__loc {
        font-size: 1.8rem;

    }


    &__heart {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 20px 0;
        font-size: 25px;



    }


    .fa-solid {
        color: transparent;
        background: linear-gradient(#9356dc, #de64f1);
        -webkit-background-clip: text;
        opacity: 0;

        &:hover {

            opacity: 1;
            transform: scale(1.07);

        }
    }

}

//////////////////////////////  FOOTER  //////////////////////////////////////// 

.footer {
    background: $xtradarkgrey;
    color: white;
    padding: 20px 0px 60px 20px;
    line-height: 25px;
    font-weight: 300;

    @include md {
        padding: 30px;
    }

    @include xl {
        padding: 30px;
    }



    &__logo {
        @include md {
            display: flex;
            justify-content: center;
        }


        @include xl {
            display: flex;
            justify-content: center;
        }

    }

    &__container {

        a:hover {

            border-bottom: 2px lighten($primary, 15) solid;
            padding-bottom: 2px;
        }

        @include md {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
        }


        @include xl {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
        }
    }


    &__logo {
        font-family: $logo;
        font-size: 1.8rem;
        font-weight: 300;
        padding-bottom: 20px;

        @include md {
            font-size: 2.2rem;
        }

        @include xl {
            font-size: 2.2rem;
        }

    }

    &__proptext {
        padding-left: 6px;
    }
}