@import "./1_utils/variables";
@import "./1_utils/keyframes";
@import "./1_utils/animations";
@import "./1_utils/mediaqueries";
@import "./3_base/base";
@import "./5_layout/footer";


////////////////////////////// HEADER  //////////////////////////////////////// 

.header {

    padding: 20px 20px 15px 15px;
    display: flex;
    justify-content: center;


    &__direction {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 20px;

        & a {
            color: black;

            &:hover {
                color: $primary;
            }
        }
    }

    &__logo img {
        width: 200px;
    }

    &__logo {
        display: block;
        display: flex;
        justify-content: center;
    }
}


//////////////////////////////  IMAGE  //////////////////////////////////////// 

.pic img {

    height: 280px;
    width: 100%;
    object-fit: cover;
}

////////////////////////////// MENU  //////////////////////////////////////// 

.menu {
    background: $lightgrey;
    border-radius: 30px 30px 0 0;
    margin-top: -60px;
    position: relative;
    display: grid;
    place-content: center;

    &__title {
        font-family: $logo;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        padding: 20px 0 20px 0px;

        @include md {
            justify-content: center;
        }

        @include xl {
            margin: auto;
        }
    }

    &__heart {
        font-size: 2.5rem;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }

        &--full {
            display: none;
        }

        &:hover &--full {

            display: inline;
            color: transparent;
            background: $linear;
            -webkit-background-clip: text;
            background-clip: text;
            animation: appear 2s;

        }

        &--empty {
            display: inline;
        }

        &:hover &--empty {
            display: none;
        }
    }


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;

        @include xl {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 40px;

        }
    }


    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include md {
            margin: auto;
        }
    }


    &__course {
        font-size: 1.8rem;
        font-weight: 400;

        &::after {
            content: "";
            display: block;
            width: 40px;
            padding-top: 5px;
            border-bottom: 3px solid $tertiary;
        }
    }


    &__card {
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: $lightshadow;
        border-radius: 10px;
        width: 350px;
        overflow: hidden;


        @include md {
            width: 390px;
        }

        @include xl {
            width: 400px;
        }

        &:hover {
            cursor: pointer;
        }
    }


    &__slide {
        width: 70px;
        background-color: $tertiary;
        border-radius: 0 10px 10px 0;
        margin-right: -70px;
        transition: .5s;

    }

    &__card:hover &__slide {
        margin: 0;

    }

    &__checkbox {
        display: grid;
        place-items: center;
        padding-top: 2.2rem;
    }

    &__check {
        color: white;
        display: block;
        font-size: 2.2rem;

    }

    &__card:hover &__check {
        animation: spincheck 1s;
        animation-fill-mode: forwards;
    }

    & {
        @include fader;
    }


    &__meal {
        padding: 10px;
        line-height: 2.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__name {
        font-weight: 500;
        font-size: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__side {
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__box {
        display: flex;
    }

    &__price {
        font-weight: 500;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 13px;
    }

}

////////////////////////////// ORDER  //////////////////////////////////////// 

.order {
    background: $lightgrey;
    padding: 50px 0px;

    &__btn {
        display: flex;
        justify-content: center;
    }

    &__button {
        padding: 13px 40px;
        border-radius: 30px;
        border: 0;
        background: $linear;
        color: white;
        font-weight: 400;
        letter-spacing: 1px;
        box-shadow: $mediumshadow;

        &:hover {
            box-shadow: $darkshadow;
            filter: brightness(110%);
            cursor: pointer;
        }
    }
}

//////////////////////////////  FOOTER  //////////////////////////////////////// 

@include footer_block;