////////////////////  RESTAURANTS MENUS  ///////////////////////// 
@mixin fader {

    &__one {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 0s;
    }

    &__two {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 0.5s;
    }

    &__three {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 1s;
    }

    &__four {
        animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation-delay: 1.5s;
    }

}