////////////////////////////// LOADER  //////////////////////////////////////// 


@keyframes load {
    from {
        transform: scale(1);
    }


    100% {
        transform: scale(0);
        opacity: 0;
    }

}


@keyframes spinner {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: $primary;
        border-bottom-color: $primary;
    }

    25% {
        transform: rotate(360deg) scale(1.15);
        border-top-color: $secondary;
        border-bottom-color: $secondary;
    }

    50% {
        transform: rotate(0deg) scale(1);
        border-top-color: $tertiary;
        border-bottom-color: $tertiary;
    }

    75% {
        transform: rotate(360deg) scale(1.15);
        border-top-color: $tertiary;
        border-bottom-color: $tertiary;
    }

    100% {
        transform: rotate(0deg) scale(1);
        border-top-color: $secondary;
        border-bottom-color: $secondary;
    }

}

//////////////////////////// MENUS  //////////////////////////////////////// 


@keyframes fade {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


//////////////////////////// CHECK  //////////////////////////////////////// 

@keyframes spincheck {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(-240deg);
    }
}

//////////////////////////// SLIDER  //////////////////////////////////////// 

@keyframes sliderfx {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}